<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Olympic</title>

		<meta name="description" content="top menu &amp; navigation" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'assets/css/fonts.googleapis.com.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static 'assets/js/ace-extra.min.js' %}"></script>
		<script src="{% static 'assets/js/echarts.min.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
				
		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		
		<script>
			function inituser(){
				$(".userimg").width(50);
				$(".userimg").height(50);
				$("#username").html("");
			}
			
			
			function select(user){
				inituser();
				$("#username").html(user);
				$("[user='"+user+"']") .width(65);
				$("[user='"+user+"']") .height(65);
			}
			
			function btn(){
				username = $("#username").html();
				text = $('#input-text').val();
				title = $('#activityname').attr('title');
				alert(title)
				dataObj={
					'username':username,
					'text':text,
					'title':title
				}
				urlstr = "./Reply"
				htmlobj=$.ajax({
					type: 'POST',
					url:urlstr,
					async:false,
					data: dataObj,
					success:
						function(data) {
							document.location.reload();
						}
				});
			}
			/*	
			function reloadReply()
			{
				alert('reply');
			
			}
			*/
		</script>
		
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default    navbar-collapse       h-navbar ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="index" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							Olympic 
						</small>
					</a>
				</div>

				
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="page-header">
							<h1>
								第一届"三五"运动会
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!---
								<img width="100%" height="100%" alt="150x150" src="{% static 'assets/images/olympic/main.jpg' %}" />
								--->
								<div class="col-sm-4">
									<div class="widget-box">
									
										<div class="widget-header widget-header-flat">
											<h4 class="widget-title smaller">
												<i class="ace-icon fa fa-quote-left smaller-80"></i>
												往期故事
											</h4>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													<div class="col-xs-12">
													<img width="100%" height="100%" alt="150x150" src="{% static 'assets/images/olympic/' %}{{data.img}}" />
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-xs-12">
														<h3 id='activityname' title='{{data.title}}' >{{data.titlename}}</h3>
														<p class="line-height-125">
															{{data.datetime}}
															{{data.location}}
														</p>
													</div>
												</div>
												<br />
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-sm-8">
									<div class="widget-box">
										<div class="widget-header widget-header-flat">
											<h4 class="widget-title smaller">
												<i class="ace-icon fa fa-quote-left smaller-80"></i>
												留言区
											</h4>
										</div>
										<div class="widget-body">
											<div class="widget-main">
											
												<br />
												
												{% for item in ReplyList %}
												<blockquote>
													<p class="line-height-125">
														{{item.text}}
													</p>
													<small>
														{{item.user}}
													</small>
												</blockquote>
												{% endfor %}	
												
												<form class="form-horizontal" role="form">

													<div class="form-group">
														<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 选择用户:<span id='username'></span> </label>
														<ul id="user-ul" class="ace-thumbnails" >
															<li>
																<img class="userimg" onclick="select('bowen')" width="50" user="bowen" height="50" src="{% static 'assets/images/olympic/bw.jpg' %}" />
															</li>
															<li>
																<img class="userimg" onclick="select('zenobia')" class="userimage" width="50" user="zenobia" height="50" src="{% static 'assets/images/olympic/zenobia.jpg' %}" />
															</li>
															<li>
																<img class="userimg" onclick="select('UUOxford')" width="50" user="UUOxford" height="50" src="{% static 'assets/images/olympic/zj.jpg' %}" />										
															</li>
															<li>
																<img class="userimg" onclick="select('xx')" width="50" user="xx" height="50" src="{% static 'assets/images/olympic/xx.jpg' %}" />
															</li>
														</ul>
													</div>
													
													<div class="form-group">
														<div class="col-xs-12">
															<input id="input-text" type="text" placeholder="我要发言" class="col-xs-12" />
														</div>
													</div>
													
													<div >
														<div>
															<button class="btn-submit btn btn-info" type="button"  onclick="btn()">
																提交
															</button>
														</div>
													</div>
										
												</form>
											</div>
										</div>

									</div><!-- /.col -->			
								</div><!-- /.row -->	
								
							</div><!-- /.col -->
							
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Bowen Nan</span>
							pr &copy; 2019
						</span>

						&nbsp; &nbsp;
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="{% static 'assets/js/ace-elements.min.js' %}"></script>
		<script src="{% static 'assets/js/ace.min.js' %}"></script>
		<!-- inline scripts related to this page -->

	</body>
</html>
